/* Smartphones (portrait and landscape) ----------- */
@media only screen and (max-device-width: 420px) {
  .mtz-nav-wrapper nav {
    padding: 15px 0 15px;
  }
  .mtz-nav-wrapper nav .mtz-nav-links,
  .mtz-nav-wrapper nav .mtz-get-a-quote {
    display: none;
  }
  .mtz-nav-wrapper nav .mtz-nav-links .mtz-nav-logo img,
  .mtz-nav-wrapper nav .mtz-get-a-quote .mtz-nav-logo img {
    height: 70px;
  }
  .mtz-nav-wrapper nav .mtz-smaller-screen-navigation {
    display: block;
  }
  .mtz-landing-wrapper {
    background-image: url(./images/patternSmall.jpg);
    background-repeat: no-repeat;
    background-position: right;
  }
  .mtz-about-wrapper .mtz-about-body {
    display: block;
  }
  .mtz-about-wrapper .mtz-about-body .mtz-about-content,
  .mtz-about-wrapper .mtz-about-body .class {
    width: 100%;
  }
  .mtz-about-wrapper .mtz-about-body .mtz-about-content {
    padding: 0;
  }
  .mtz-about-wrapper .mtz-about-body .class {
    width: 100%;
    height: 400px;
    margin-top: 50px;
    background-image: url(./images/photo-of-people-holding-each-other-s-hands-3184423.jpg);
    background-size: cover;
    background-position: center;
  }
  .mtz-services-wrapper .mtz-services-header .mtz-services-list {
    display: block;
    width: 80%;
    margin: 0 auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .mtz-services-wrapper .mtz-services-header .mtz-services-list a {
    text-decoration: none;
    width: 90%;
    display: block;
    background-color: #ffffff;
    margin-bottom: 20px;
    margin: 0 auto;
    height: 200px;
    text-align: center;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    padding: 40px;
    border-radius: 20px;
    color: #2e2e2e;
    font-size: 17px;
    line-height: 16px;
    margin-top: 20px;
  }
  .mtz-services-wrapper .mtz-services-header .mtz-services-list a div img {
    height: 60px;
    width: 60px;
    padding-bottom: 10px;
  }
  .mtz-services-wrapper .mtz-services-header .mtz-services-list a:hover {
    background-image: linear-gradient(135deg, #6A30D1 0%, #5C83E3 100%);
    -webkit-box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.2);
            box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.2);
    -webkit-transform: scale(1.01);
            transform: scale(1.01);
    border-radius: 25px;
    color: #fff;
    padding-top: 50px;
  }
  .mtz-get-quote-wrapper form div:first-child {
    padding-bottom: 0 !important;
  }
  .mtz-get-quote-wrapper form input, .mtz-get-quote-wrapper form textarea {
    margin-bottom: 20px;
    background-color: #d8d8d880;
    border: 1px solid #ddd;
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;
  }
  .mtz-get-quote-wrapper form input:focus,
  .mtz-get-quote-wrapper form textarea:focus {
    border: 1px solid #0256f1;
    color: #253d69;
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  }
  .mtz-get-quote-wrapper form textarea {
    width: 100%;
    resize: none;
  }
  .mtz-footer-wrapper {
    background-color: #202020;
    padding: 40px 0 10px;
  }
  .mtz-footer-wrapper .mtz-footer-content-wrapper {
    display: block;
  }
  .mtz-footer-wrapper .mtz-footer-content-wrapper .mtz-footer-left-content,
  .mtz-footer-wrapper .mtz-footer-content-wrapper .mtz-footer-center-content,
  .mtz-footer-wrapper .mtz-footer-content-wrapper .mtz-footer-right-content {
    width: 100%;
  }
  .mtz-footer-wrapper .mtz-footer-content-wrapper .mtz-footer-center-content,
  .mtz-footer-wrapper .mtz-footer-content-wrapper .mtz-footer-right-content {
    margin-top: 20px;
  }
  .mtz-footer-wrapper .mtz-footer-content-wrapper .mtz-footer-left-content {
    color: #fff;
  }
  .mtz-footer-wrapper .mtz-footer-content-wrapper .mtz-footer-right-content,
  .mtz-footer-wrapper .mtz-footer-content-wrapper .mtz-footer-center-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .mtz-footer-wrapper .mtz-footer-content-wrapper .mtz-footer-right-content .mtz-footer-content-item,
  .mtz-footer-wrapper .mtz-footer-content-wrapper .mtz-footer-center-content .mtz-footer-content-item {
    width: 50%;
    padding: 0 10px 0 0;
  }
  .mtz-footer-wrapper .mtz-footer-content-wrapper .mtz-footer-right-content .mtz-footer-content-item h5,
  .mtz-footer-wrapper .mtz-footer-content-wrapper .mtz-footer-center-content .mtz-footer-content-item h5 {
    font-size: 15px;
    color: #fff;
    opacity: .8;
  }
  .mtz-footer-wrapper .mtz-footer-content-wrapper .mtz-footer-right-content .mtz-footer-content-item div a,
  .mtz-footer-wrapper .mtz-footer-content-wrapper .mtz-footer-center-content .mtz-footer-content-item div a {
    display: block;
    text-decoration: none;
    color: #fff;
    opacity: .5;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI','Open Sans', 'Helvetica Neue';
  }
  .mtz-footer-wrapper p {
    color: #fff;
    opacity: .8;
  }
}

/* Smartphones (portrait) ----------- */
/*# sourceMappingURL=responsive.css.map */